<tr>
  <td><%= link_to 'Show', sensor_find %></td>
  <td><%= link_to 'Edit', edit_sensor_find_path(sensor_find) %></td>
  <td><%= link_to 'Destroy', sensor_find, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
