<h1>Listing sensor_finds</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <%= render @sensor_finds %>
  </tbody>

</table>

<br>

<%= link_to 'New Sensor find', new_sensor_find_path %>
