<h1>Listing sensors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <% if @distance == true %>
        <th>Distance</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sensors %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_sensor_path %>

<br /> <br />

<%= render partial: "shared/map", locals: {sensors: @sensors} %>


